.remove_button {
  background-color: transparent;
  cursor: pointer;
  border: solid 1px rgb(223, 44, 44);
  height: 30px;
  width: 80px;
  border-radius: 8px;
} 

.removeButton:hover {
  background-color: #c82333; 
}
